body{
    margin: 0;
}

#intestazione{
    background-image: url(../img/pattern.png) ;
    background-color: #4ea0ff;
    height: 190px;
}

#logo{
    width: 400px;
    height: 100px;
    margin-top: 70px;
    margin-left: 20px;
}

.sezione{
    margin: 8px;
    margin-top: 15px;
}

.titolo{
    font-size: 40px;
}

.sottotitolo{
    color: #848484 ;
}

.autore{
    color: #29ace6;
}

.data{
    color: #848484 ; 
    font-size: smaller;   
}

.info-foto-tim{
    font-size: smaller;
}

.evidenziato{
    background-color: yellow;
}

#lista-dis-1{
    margin-top: 40px;
    padding-left: 23px;
}

table{
    border-spacing: 0;
}

#int-tab{
    background-color:  #20a9e5;
}

#col-1{
    padding: 0;
    margin: 0;
    width: 25%;
}

#col-2{
    padding: 0;
    margin: 0;
    width: 25%;
}


#col-3{
    padding: 0;
    margin: 0;
    width: 50%;
}

#riga-1{
    background-color: #b1e5f2;
}

#riga-3{
    background-color: #b1e5f2;
}
