body{
    margin: 0;
}

#intestazione{
    background-image: url(../img/pattern.png) ;
    background-color: #4ea0ff;
    height: 190px;
}

#logo{
    width: 400px;
    height: 100px;
    margin-top: 70px;
    margin-left: 20px;
}

.sezione{
    margin: 8px;
    margin-top: 15px;
}

.titolo{
    font-size: 40px;
}

.sottotitolo{
    color: #848484 ;
}

.autore{
    color: #29ace6;
}

.data{
    color: #848484 ; 
    font-size: smaller;   
}