main{
    width: 80%;
    margin: auto;
    font-family: inconsolata ;
    font-size: 24px;
}

body{
    margin: 0;
}

#intestazione{
    background-color: rgb(3, 130, 181);

}

#logo{
    height: 200px;
    width: 68%;
    margin: auto;
    margin-top: 15px;
}

.titolo{
    margin-top: 40px;
    font-size: 60px;
}

.sottotitolo-container{
    margin-bottom: 70px;
    margin-top: 10px;
}

.data{
    color: rgb(110, 110, 110);
}

.autore{
    color: rgb(58, 58, 205);
}

.immagine-tim{
    border: 10px solid rgb(3, 130, 181);
    border-radius: 10px;
    margin-left: 40px;
}

.info-foto-tim{
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 70px;
    color: rgb(110, 110, 110);
}

.paragrafo{
    border: 10px solid rgb(3, 130, 181);
    border-radius: 10px;
    padding: 13px;
    margin-bottom: 70px;
}

.evidenziato{
    color: aliceblue ;
    background-color: rgb(3, 130, 181);
    padding: 2px;
}

#lista-dis-1{
    width: 1000px;
    margin: auto;
    margin-bottom: 80px;
}
.list-item{
    padding: 8px;
    margin-bottom: 30px;
    background-color: rgb(221, 154, 59);
}

table{
    border-spacing: 0;          /*tabella*/
    margin-top: 40px; 
    margin-bottom: 80px;
    border: 10px solid rgb(3, 130, 181);
    border-radius: 10px;

}

tbody{
    text-align: center;
}

#int-tab{
    background-color:  rgb(3, 130, 181);
}

#col-1{
    padding: 20px;
    color: aliceblue;
    width: 25%;
}

#col-2{
    padding: 20px;    
    color: aliceblue;
    width: 25%;
}


#col-3{
    padding: 20px;
    color: aliceblue;
    width: 50%;
}

td{
    padding: 10px;
}

footer{
    height: 300px;
    background-color: rgb(3, 130, 181);
    padding-left: 100px;
    padding-top: 50px;
}

.sottotitolo{
    font-size: 40px;
    background-color: aliceblue;
    padding: 20px;
    color: rgb(3, 130, 181);
}

